<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Life in the UK</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6187955227300148~6608309609</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMainNibFile</key>
	<string>LaunchScreen</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto.ttf</string>
		<string>Montserrat-Black.otf</string>
		<string>Montserrat-BlackItalic.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-BoldItalic.otf</string>
		<string>Montserrat-ExtraBold.otf</string>
		<string>Montserrat-ExtraBoldItalic.otf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-ExtraLightItalic.otf</string>
		<string>Montserrat-Italic.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-LightItalic.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-MediumItalic.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-SemiBoldItalic.otf</string>
		<string>Montserrat-Thin.otf</string>
		<string>Montserrat-ThinItalic.otf</string>
		<string>Moon-Bold.otf</string>
		<string>Moon-Light.otf</string>
		<string>Moon-Regular.otf</string>
		<string>Moon2.0-Bold.otf</string>
		<string>Moon2.0-Light.otf</string>
		<string>Moon2.0-Regular.otf</string>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
